<div class="container-fluid">
  <div class="row">
    <div class="card" style="left:88%;font-size: smaller;">
      <div class="col-12" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
        Valid Login Credentials:
        <br> username: "user",
        <br>password: "123abc"
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4">
      <mat-card style="margin-top: 15%">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-12 col-sm-10">
                <mat-form-field style="width:100%">
                  <input matInput type="text" placeholder="username" formControlName="username">
                  <mat-error *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">Username is
                    <strong>required</strong>!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-10">
                <mat-form-field style="width:100%">
                  <input matInput type="text" placeholder="password" formControlName="password">
                  <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('username').touched">Password is
                    <strong>required</strong>!</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span *ngIf="invalidCredentials" style="color: red; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Either Username or Password is wrong!</span>
              </div>
              <div class="col-2">
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-footer>
          <div class="col-6">
            <button mat-raised-button (click)="goHomeDirectly()" style="margin-bottom: 3%">Go to Home Directly</button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
