<div class="video-container">
  <video class="video" width="400px" height="300px" [src]="src" controls (click)="toggleVideo()" #videoPlayer>
    <!-- <source [src]="src" type="video/mp4" /> Browser not supported -->
  </video>
</div>
