.video-container {
  min-width: 100%;
  min-height: 100%
}

.video {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;  */

/* overflow: unset; */

/* }
  .video-container video { */

/* Make video to at least 100% wide and tall */

/* min-width: 50%; 
    min-height: 50%;  */

/* Setting width & height to auto prevents the browser from stretching or squishing the video */

/* width: auto;
    height: auto;
   */

/* Center the video */

/* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  } */
