<div class="container-fluid">
  <div class="row">
    <div style="width: 20%">

      <mat-nav-list>
        <mat-list-item *ngIf="username">
          <button type="button" color="accent" mat-raised-button style="width: 100%"> Welcome {{username}}</button>
        </mat-list-item>
        <mat-list-item *ngIf="username">
          <button mat-raised-button type="button" color="accent" style="width: 100%" (click)="logout()">Logout</button>
        </mat-list-item>
        <mat-list-item *ngFor="let video of videos">
          <button (click)="loadVid(video.src)" type="button" color="primary" mat-raised-button style="width: 100%">{{video.title}}</button>
        </mat-list-item>

        <mat-list-item *ngIf="!username">
          <button mat-raised-button type="button" color="accent" style="width: 100%" (click)="login()">Log in</button>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <div style="width: 73%; margin-left: 2.5%;margin-right: 2.5%; margin-top: 2%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
